<div>
    <input type="hidden" ng-model="corporacion.corp_No" value="{{corporacion.corp_No}}" />
    <div>
        <label for="corp_name">Nombre de corporación:</label>
        <input type="text" ng-model="corporacion.corp_Name" value="{{corporacion.corp_Name}}" />
    </div>
    <div>
        <label for="street">Calle:</label>
        <input type="text" ng-model="corporacion.street" value="{{corporacion.street}}" />
    </div>
    <div>
        <label for="city">Ciudad:</label>
        <input type="text" ng-model="corporacion.city" value="{{corporacion.city}}" />
    </div>
    <div>
        <label for="state_prov">Provincia:</label>
        <input type="text" ng-model="corporacion.state_Prov" value="{{corporacion.state_Prov}}" />
    </div>
    <div>
        <label for="state_prov">Pais:</label>
        <input type="text" ng-model="corporacion.country" value="{{corporacion.country}}" />
    </div>

    <div>
        <label for="mail_code">Código de mail:</label>
        <input type="text" ng-model="corporacion.mail_Code" value="{{corporacion.mail_Code}}" />
    </div>
    <div>
        <label for="phone_no">Nro. Teléfono:</label>
        <input type="text" ng-model="corporacion.phone_No" value="{{corporacion.phone_No}}" />
    </div>
    <div>
        <label for="expr_dt">Fecha:</label>
        <input type="text" ng-model="corporacion.expr_Dt" value="{{corporacion.expr_Dt}}" />
    </div>
    <div>
        <label for="corp_code">Cód. Corporación:</label>
        <input type="text" ng-model="corporacion.corp_Code" value="{{corporacion.corp_Code}}" />
    </div>

</div>