.corporacion-card {
    background-color: $site-color-white;
    border-radius: 5px;
    padding-bottom: .5rem;
    padding-top: .5rem;
    border: 1px black solid;
    margin: .5rem;
    height: 335px;

    div {
        padding-left: 2rem;
    }
}
